<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coding Window</title>
  <link rel="stylesheet" href="{% static 'css/rc.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/autoloader/prism-autoloader.min.js"></script>
</head>

<body class="mainBody">
  <nav class="navbar navbar-expand-lg navbarr">
    <div class="container-fluid">
      <a class="navbar-brand navvi" href="https://credenz.in" style="padding: 0px"><img
          src="{% static 'images/revb.png' %}" alt="Clash Logo" height="60px" width="70px" /></a>
      <!-- <a class="navbar-brand navvi timer" id="timerDisplay" style="margin-left: 20px;color:white">
      </a> -->
        <a class="navbar-brand navvi timer" id="timerDisplay" style="margin-left: 20px;color:white">
        
        </a>
      <!-- <p id="timerDisplay"></p> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars" style="color: white"></i>
      </button>
      <div class="collapse navbar-collapse stroke" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a
              class="nav-link active navvi"
              aria-current="page"
              href="{% url 'questions' %}"
              style="margin-left: 10px; margin-right: 10px"
              >Question Hub</a
            >
          </li> -->
          
          <li class="nav-item">
            <a class="nav-link navvi" aria-current="page" href="{% url 'submission' %}"
              style="margin-left: 10px; margin-right: 10px ; color: lightblue;">Submissions</a>
          </li>

          <li class="nav-item navvi">
            <a class="nav-link navvi" style="margin-left: 10px; margin-right: 10px; color: lightblue; cursor: pointer"
              href="{% url 'leaderboard' %}" data-bs-target="#LogoutModal">Leaderboard</a>
          </li>
          <li class="nav-item navvi">
            <a class="nav-link navvi" style="margin-left: 10px; margin-right: 10px; color: lightblue; cursor: pointer"
              data-bs-toggle="modal" data-bs-target="#LogoutModal" href="{% url 'logout' %}">Logout</a>


            <!-- <button type="button" class="btn btn-primary">
              Launch demo modal
            </button> -->

            <!-- Modal -->
          </li>
        </ul>
      </div>
      <a class="navbar-brand navvi pisblogo" href="https://pictieee.in/" style="padding: 0px; margin-left: 20px"><img
          src="{% static 'images/pisblogo.png' %}" alt="Clash Logo" height="30px" /></a>
    </div>
  </nav>

  <div class="modal fade" id="LogoutModal" tabindex="-1" aria-labelledby="LogoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="LogoutModalLabel">Alert!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          Are you sure you want to logout ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" li>
            Cancel
          </button>
          <button type="button" class="btn btn-danger">
            <a href="{% url 'logout' %}">Logout</a>
          </button>
        </div>
      </div>
    </div>
  </div>




  <!-- Hearder strip code starts -->

  <section class="head-strip">
    <!-- Question numbers -->
    <div class="questions ">
      <div class="queno"><button type="button " class=" btn btn-dark qb" id="qbtn1"
          onclick="location.href='/question/1'">1</button></div>
      <div class="queno"><button type="button " class=" btn btn-dark qb" id="qbtn2"
          onclick="location.href='/question/2'">2</button></div>
      <div class="queno"><button type="button " class=" btn btn-dark qb" id="qbtn3"
          onclick="location.href='/question/3'">3</button></div>
      <div class="queno"><button type="button " class=" btn btn-dark qb" id="qbtn4"
          onclick="location.href='/question/4'">4</button></div>
      <div class="queno"><button type="button " class=" btn btn-dark qb" id="qbtn5"
          onclick="location.href='/question/5'">5</button></div>
      <div class="queno"><button type="button " class=" btn btn-dark qb" id="qbtn6"
          onclick="location.href='/question/6'">6</button></div>
      <div class="queno"><button type="button " class=" btn btn-dark qb" id="qbtn7"
          onclick="location.href='/question/6'">7</button></div>

    </div>
    <!-- Score  -->
    <div class="score-time">
      <div class="btn-group mx-auto" role="group" aria-label="Basic outlined example">
        <div type="text" class="btn btn-outline-dark " id="score">Max. score: +7</div>
      </div>
    </div>
  </section>
  <!-- Header strip ends  -->

  <!-- The main Section  -->


  <section class="coding ">
    <!-- the Question section starts here  -->
    <div class="questionpart">
      <div class="question-sec">
        <div class="que-name">
          <h3>{{ question.q_title }}</h3>
        </div>
        <div class="quepart que-description" style="height: auto;">
          <h3>Question Description</h3>
          <div class="queimg text-center">
            <img src="http://images5.fanpop.com/image/photos/30600000/random-random-30660647-1280-1024.png"
              alt="loding">
          </div>
          <h4>{{ question.q_descrp }}</h4>
        </div>
        <div class="quepart que-constrains">
          <h3>Question Constraints</h3>
          <h4>{{ question.q_const }}</h4>
        </div>
      </div>
      <div class="rc-input-output">

        <div class="inputrc">
          <h3>INPUT</h3>
          <textarea id="rcTestip"></textarea>
        </div>
        <div class="get-output">
          <button id="getOutput" value="GET OUTPUT" type="button">GET OUTPUT</button>
        </div>
        <div class="outputrc">
          <h3>OUTPUT</h3>
          <div class="inputs-output" id="rcTestop"></div>
        </div>

      </div>
    </div>

    </div>


    <!-- The code Editor Section Starts here ... -->
    <div class="codingpart">
      <div class="drop-buttons">
        <div class="lang">
          <select class="form-select langbtn btn-outline-dark " id="langbtn" aria-label="Default select example"
            style="background-color: rgba(3, 111, 212, 0.696);">
            <option disabled selected value=""> Choose Language</option>
            <option value="c_cpp">C</option>
            <option value="c_cpp">C++</option>
            <option value="python">Python</option>
          </select>
        </div>
        <!-- <div class="choosefile">

          <input type="file" class="form-control choosef btn-outline-dark" id="customFile" accept=".c, .cpp, .py" />
        </div> -->

      </div>
      <div class="code-section">
        <div class="codehere" id="editor1">
          "Code Here"
        </div>


        <!-- console section -->
        <div class="collapse mainconsole" id="test-cases">
          <h3> TEST-CASES</h3>

          <div class="consoleBlocks">

            <div class="block1 text-center">
              <h5> Custom Input </h5>
              <textarea class="block-input">
           </textarea>
            </div>
            <div class="block2 text-center">
              <h5>This is Output </h5>
              <div class="block-output">

              </div>
            </div>

          </div>
          <div class="Status">
            <div class="overallStatus">
              Answer is Correct /Failed.
            </div>
            <div class="alltext d-flex flex-wrap ">
              <div class="test d-flex mx-3"> Test Case 1 <ion-icon name="close-circle-outline" class="mx-3 my-1"
                  size="large"></ion-icon> </div>
              <div class="test d-flex mx-3"> Test Case 2 <ion-icon name="checkmark-circle-outline" class="mx-3 my-1"
                  size="large"></ion-icon></div>
              <div class="test d-flex mx-3"> Test Case 3 <ion-icon name="checkmark-circle-outline" class="mx-3 my-1"
                  size="large"></ion-icon></div>
              <div class="test d-flex mx-3"> Test Case 4 <ion-icon name="checkmark-circle-outline" class="mx-3 my-1"
                  size="large"></ion-icon></div>
              <div class="test d-flex mx-3"> Test Case 4 <ion-icon name="checkmark-circle-outline" class="mx-3 my-1"
                  size="large"></ion-icon></div>
              <div class="test d-flex mx-3"> Test Case 4 <ion-icon name="checkmark-circle-outline" class="mx-3 my-1"
                  size="large"></ion-icon></div>
              <div class="test d-flex mx-3"> Test Case 4 <ion-icon name="checkmark-circle-outline" class="mx-3 my-1"
                  size="large"></ion-icon></div>
              <div class="test d-flex mx-3"> Test Case 4 <ion-icon name="checkmark-circle-outline" class="mx-3 my-1"
                  size="large"></ion-icon></div>
              <div class="test d-flex mx-3"> Test Case 4 <ion-icon name="checkmark-circle-outline" class="mx-3 my-1"
                  size="large"></ion-icon></div>
              <div class="test d-flex mx-3"> Test Case 4 <ion-icon name="checkmark-circle-outline" class="mx-3 my-1"
                  size="large"></ion-icon></div>
              <div class="test d-flex mx-3"> Test Case 4 <ion-icon name="checkmark-circle-outline" class="mx-3 my-1"
                  size="large"></ion-icon></div>
              <div class="test d-flex mx-3"> Test Case 4 <ion-icon name="checkmark-circle-outline" class="mx-3 my-1"
                  size="large"></ion-icon></div>
            </div>
          </div>
        </div>

      </div>

      <!-- The Submit Button Code Starts here  -->
      <form action="POST">
        {% csrf_token %}
        <div class="submit-strip">
          <div class="console">
            <button type="button" class="console-btn d-flex flex-wrap " data-toggle="collapse" id="console-btn"
              data-target="#test-cases">
              Console
              <ion-icon name="chevron-up-outline" class="up mx-2 "></ion-icon>
              <ion-icon name="chevron-down-outline" class="down hidden "></ion-icon>
            </button>
          </div>
          <div class="submit-btn">
            <button type="button" class="run-btn   btn-outline-dark" id="rcRunBtn">Run</button>
          </div>
          <div class="sub-btn">
            <button type="button" class="run-btn  btn-outline-dark" id="submit-btn">Submit</button>
          </div>
        </div>
      </form>

    </div>

  </section>
  <footer class="text-center fixed-bottom footerr">
    <div class=" container-fluid">
      <div class="footer-text pt-3 pb-3">PISB <span>&copy</span></div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.16.0/ace.js"></script>
  <script src="{% static 'js/rc.js' %}"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.16.0/ace.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> <!--ajax link-->


  <!-- Timer JS here -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script>
    x = setInterval(function () {

      const countDown = new Date('{{end_time}}').getTime();
      const now = new Date().getTime();
      // console.log(new Date())
      remain = countDown - now;
      // console.log("b time",countDown,"f time", now ) 
      //console.log("remain",remain);

      //   document.getElementById("days").innerText = Math.floor(distance / (day)),
      const countdown = document.getElementById('countdown');

      let seconds = Math.floor((remain / 1000) % 60);
      let minutes = Math.floor((remain / (1000 * 60)) % 60);
      let hours = Math.floor((remain / (1000 * 60 * 60)) % 60);
      // document.getElementById("minutes").innerText = minutes;
      // sec = toString(seconds)
      // console.log(val_sec)
      hours = hours < 10 ? '0' + hours : hours;
      minutes = minutes < 10 ? '0' + minutes : minutes;
      seconds = seconds < 10 ? '0' + seconds : seconds;
      console.log(hours + ":" + minutes + ":" + seconds)
      document.getElementById('timerDisplay').innerHTML = hours + ":" + minutes + ":" + seconds;
      // var sub_btn = document.getElementById("submit_btn");
      // sub_btn.name = "nsubmit";
      // sub_btn.click();
      if (remain <= 0) {

        location.href = "{% url 'leaderboard' %}"
        clearInterval(x);
      }

    }, 1000)



    var consoleBtnn = document.getElementById("console-btn");
var consoleBtnDown = consoleBtnn.querySelector(".down");
var consoleBtnUp = consoleBtnn.querySelector(".up");
var editor=document.querySelector("#editor1")

consoleBtnn.addEventListener("click", function() {
  if (consoleBtnDown.classList.contains("hidden")) {
    consoleBtnDown.classList.remove("hidden");
    consoleBtnUp.classList.add("hidden");
  } else {
    consoleBtnDown.classList.add("hidden");
    consoleBtnUp.classList.remove("hidden");
  }

  //  if(editor.classList.contains("hidden")){
  //   editor.classList.remove("hidden");
  //  }
  //  else{
  //      editor.clasList.add("hidden");
  //  }

});




  </script>
  {% include 'ajax/rcCoadingPage.html' %}
</body>

</html>